<mat-toolbar color="accent" *ngIf="!user">
  <img src="{{assetPath}}assets/img/logo175.png" class="logo p-2" alt="Tribe" (click)="navigate(homePath)">
  <button mat-raised-button color="primary" (click)="navigate(loginPath)" class="ml-auto">
    {{'core.components.navbar.loginButton' | translate}}
  </button>
</mat-toolbar>

<mat-toolbar color="accent" *ngIf="user">
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="!(isSidenavOpened$ | async)">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="(isSidenavOpened$ | async)">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <button mat-icon-button (click)="navigate(feedbuzzPath)">
    <mat-icon class="ml-0 ml-md-3">fact_check</mat-icon><span
      class="d-none d-md-inline ml-md-3 text-white">{{'core.components.navbar.feedbuzzButton' | translate}}</span>
  </button>
  <button mat-icon-button (click)="logout()" class="ml-auto">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
