<mat-toolbar color="accent" *ngIf="!user">
  <button mat-raised-button color="primary" (click)="navigate(loginPath)" class="ml-auto">
    SE CONNECTER
  </button>
</mat-toolbar>

<mat-toolbar color="accent" *ngIf="user">
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="!(isSidenavOpened$ | async)">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="(isSidenavOpened$ | async)">
    <mat-icon>keyboard_backspace</mat-icon>
  </button>
  <button mat-icon-button (click)="logout()" class="ml-auto">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
