<form [formGroup]="progression" *ngIf="progression">
  <mat-expansion-panel class="mat-elevation-z0" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'8rem'" [expandedHeight]="'8rem'">
      <mat-panel-title>
        <mat-icon *ngIf="iconName" class="mr-2 align-icon">{{ iconName }}</mat-icon>


        <mat-form-field appearance="outline" [floatLabel]="'auto'" class="two-lines-hint w-100 ml-0 ml-sm-3"
          [ngClass]="{'two-lines-hint': !!hint}" (click)="$event.stopPropagation()">
          <mat-label *ngIf="label">{{ label }}</mat-label>

          <mat-select formControlName="identities" multiple [compareWith]="compareByName">
            <mat-option *ngFor="let identity of identitiesPossible" [value]="identity">
              {{identity.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="identities.errors?.required">Let's associate at least one identity</mat-error>

          <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
        </mat-form-field>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <app-identities-form *ngIf="identitiesArray && identitiesArray?.length" [identitiesArray]="identitiesArray"
      [initialIdentities]="initialIdentities" (identitiesUpdated)="onIdentitiesUpdated($event)"
      (resetIdentities)="onResetIdentities($event)">
    </app-identities-form>

  </mat-expansion-panel>
</form>
