.align-icon {
  position: relative;
  top: 1rem;
}

.two-lines-hint {
  height: 8rem;
  @media screen and (min-width: 576px) {
    height: 7rem;
  }
  @media screen and (min-width: 768px) {
    height: 6rem;
  }
}
