p {
  font-size: 16px !important;
  color: rgba($color: #fff, $alpha: 0.87);
}

:host::ng-deep.mat-list-item-content{
  padding: 0 24px !important;
}

:host::ng-deep.mat-list-base{
  padding-top: 0 !important;
}
