<mat-horizontal-stepper [linear]="true" #stepper (selectionChange)="onStepChange($event)">

  <ng-template matStepperIcon="define-identity">
    <mat-icon>emoji_people</mat-icon>
  </ng-template>
  <mat-step label="Define your identity" state="define-identity" [completed]="indexCompleted >= 0">
    <app-define-identity [stepIndex]="0" (goToNextStep)="onChangeStep($event)"></app-define-identity>
  </mat-step>

  <ng-template matStepperIcon="design-system">
    <mat-icon>engineering</mat-icon>
  </ng-template>
  <mat-step label="Design your systems" state="design-system" [completed]="indexCompleted >= 1">
    <app-design-system [stepIndex]="1" (goToNextStep)="onChangeStep($event)"></app-design-system>
  </mat-step>

  <!-- <ng-template matStepperIcon="see-progression">
    <mat-icon>emoji_events</mat-icon>
  </ng-template>
  <mat-step label="See your progression" state="see-progression">
    <app-see-progression></app-see-progression>
  </mat-step> -->

</mat-horizontal-stepper>
