<form [formGroup]="metricsForm" *ngIf="metricsForm">
  <div formArrayName="metrics" class="d-flex flex-wrap">
    <div *ngFor="let metric of metrics.controls; let i = index; let isLastMetric = last;" class="flex w-responsive">
      <ng-container [formGroupName]="i">


        <mat-form-field [floatLabel]="'auto'" appearance="outline" class="mr-4 w-half">
          <mat-label>Metric</mat-label>
          <input matInput formControlName="metricName" (input)="onMetricInput(i)">
          <mat-error *ngIf="metricName(i)?.invalid">The name of the metric is required
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'auto'" appearance="outline"
          [ngClass]="{'w-half mr-4': !isLastMetric, 'w-button': isLastMetric}">
          <mat-label>Unit</mat-label>
          <input matInput formControlName="metricUnit" (input)="onMetricInput(i)">
          <button mat-icon-button matSuffix (click)="deleteMetric(i)" class="align-with-mat-form-field">
            <mat-icon
              [ngClass]="{'mat-text-primary': metrics.length > 1, 'text-muted': (metrics.length <= 1) && metricUnit(i)?.untouched}">
              close
            </mat-icon>
          </button>
        </mat-form-field>

        <button mat-icon-button *ngIf="isLastMetric" (click)="addMetric()" class="align-with-unit">
          <mat-icon>add</mat-icon>
        </button>

      </ng-container>
    </div>
  </div>
</form>
