$mat-tribe-blue-lagoon: (
    50 : #ebf7fe,
    100 : #ceecfc,
    200 : #ade0fa,
    300 : #8cd3f8,
    400 : #73c9f7,
    500 : #5ac0f5,
    600 : #52baf4,
    700 : #48b2f2,
    800 : #3faaf0,
    900 : #2e9cee,
    A100 : #ffffff,
    A200 : #fcfdff,
    A400 : #c9e7ff,
    A700 : #afdbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 :#ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-blue-lagoon-vibrant: (
    50 : #e8f7ff,
    100 : #c6ebff,
    200 : #a0deff,
    300 : #79d0ff,
    400 : #5dc6ff,
    500 : #40bcff,
    600 : #3ab6ff,
    700 : #32adff,
    800 : #2aa5ff,
    900 : #1c97ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #cde6ff,
    A700 : #b3daff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 :#ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-blue-ocean: (
    50 : #ebeefe,
    100 : #ced5fc,
    200 : #adb9fa,
    300 : #8c9cf8,
    400 : #7387f7,
    500 : #5a72f5,
    600 : #526af4,
    700 : #485ff2,
    800 : #3f55f0,
    900 : #2e42ee,
    A100 : #ffffff,
    A200 : #fcfcff,
    A400 : #c9ceff,
    A700 : #afb7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-blue-ocean-saturated: (
    50 : #e2e4fe,
    100 : #b7bbfe,
    200 : #878dfd,
    300 : #575ffc,
    400 : #333dfb,
    500 : #0f1bfa,
    600 : #0d18f9,
    700 : #0b14f9,
    800 : #0810f8,
    900 : #0408f6,
    A100 : #ffffff,
    A200 : #eaeaff,
    A400 : #b7b7ff,
    A700 : #9d9eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-blue-ocean-lighter: (
    50 : #ebf3fe,
    100 : #cee0fc,
    200 : #adccfa,
    300 : #8cb8f8,
    400 : #73a8f7,
    500 : #5a99f5,
    600 : #5291f4,
    700 : #4886f2,
    800 : #3f7cf0,
    900 : #2e6bee,
    A100 : #ffffff,
    A200 : #fcfdff,
    A400 : #c9d9ff,
    A700 : #afc7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-warn: (
    50 : #feebee,
    100 : #fcced5,
    200 : #faadb9,
    300 : #f88c9d,
    400 : #f77388,
    500 : #f55a73,
    600 : #f4526b,
    700 : #f24860,
    800 : #f03f56,
    900 : #ee2e43,
    A100 : #ffffff,
    A200 : #fffcfc,
    A400 : #ffc9ce,
    A700 : #ffafb7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #666666,
        300 : #000000,
        400 : #000000,
        500 : #666666,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
