$mat-tribe-blue-lagoon: (
    50 : #ebf7fe,
    100 : #ceecfc,
    200 : #ade0fa,
    300 : #8cd3f8,
    400 : #73c9f7,
    500 : #5ac0f5,
    600 : #52baf4,
    700 : #48b2f2,
    800 : #3faaf0,
    900 : #2e9cee,
    A100 : #ffffff,
    A200 : #fcfdff,
    A400 : #c9e7ff,
    A700 : #afdbff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 :#ffffff,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-blue-ocean: (
    50 : #ebeefe,
    100 : #ced5fc,
    200 : #adb9fa,
    300 : #8c9cf8,
    400 : #7387f7,
    500 : #5a72f5,
    600 : #526af4,
    700 : #485ff2,
    800 : #3f55f0,
    900 : #2e42ee,
    A100 : #ffffff,
    A200 : #fcfcff,
    A400 : #c9ceff,
    A700 : #afb7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-blue-ocean-lighter: (
    50 : #ebf3fe,
    100 : #cee0fc,
    200 : #adccfa,
    300 : #8cb8f8,
    400 : #73a8f7,
    500 : #5a99f5,
    600 : #5291f4,
    700 : #4886f2,
    800 : #3f7cf0,
    900 : #2e6bee,
    A100 : #ffffff,
    A200 : #fcfdff,
    A400 : #c9d9ff,
    A700 : #afc7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-tribe-warn: (
    50 : #feebee,
    100 : #fcced5,
    200 : #faadb9,
    300 : #f88c9d,
    400 : #f77388,
    500 : #f55a73,
    600 : #f4526b,
    700 : #f24860,
    800 : #f03f56,
    900 : #ee2e43,
    A100 : #ffffff,
    A200 : #fffcfc,
    A400 : #ffc9ce,
    A700 : #ffafb7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #666666,
        300 : #000000,
        400 : #000000,
        500 : #666666,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-darkgray: (
    50 : #f5f5f5,
    100 : #e5e5e5,
    200 : #d4d4d4,
    300 : #c3c3c3,
    400 : #b6b6b6,
    500 : #a9a9a9,
    600 : #a2a2a2,
    700 : #989898,
    800 : #8f8f8f,
    900 : #7e7e7e,
    A100 : #ffffff,
    A200 : #fbdcdc,
    A400 : #ffa5a5,
    A700 : #ff8b8b,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $dark-primary-text,
    )
);

$primary-color: mat-palette($mat-tribe-blue-ocean);
$accent-color: mat-palette($mat-tribe-blue-lagoon);
$warn-color: mat-palette($mat-tribe-warn);

$default-theme: mat-light-theme($primary-color, $accent-color, $warn-color);

$grey-theme: mat-light-theme($primary-color, mat-palette($mat-darkgray, 500, 300, 700), $warn-color);

$grey-transparant-color: rgba(0, 0, 0, 0.01);

$font-sizes: (1: 2.5rem, 2: 2rem, 3: 1.75rem, 4: 1.5rem, 5: 1.25rem, 6: 1rem);
$widths: (xs: 60px, sm: 80px, md: 110px, l: 150px, xl: 200px);
$transforms: (xs: 1, sm: 1.5, md: 2, l: 4, xl: 6);
