.align-with-icon {
  position: relative;
  bottom: -0.1rem !important;
}

.align-checkbox {
  position: relative;
  bottom: -1rem;
}

.align-with-pre {
  position: relative;
  bottom: 0.67rem;
}

.without-tab {
  white-space: pre-line;
}
