<mat-card>
  <mat-card-header (click)="navigate(profilePath)" class="navigable">
    <div mat-card-avatar>
      <img *ngIf="profilePicture; else defaultPicture" class="rounded-circle" width="40px" height="40px"
        src="{{ pictureDisplayingService.srcPrefix }}{{ profilePicture.imageFile }}">
      <ng-template #defaultPicture>
        <img class="rounded-circle" width="40px" height="40px" src="{{ assetPath }}assets/img/Unknown-person.png">
      </ng-template>
    </div>
    <mat-card-title>{{user?.firstName}} {{user?.lastName}}</mat-card-title>
  </mat-card-header>
</mat-card>
