// @include angular-material-theme($default-theme);
@include angular-material-theme($dark-theme);

.h-full {
  min-height: calc(100vh - 2rem);
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 4rem);
  }
}

.bg-hover:hover {
  background-color: rgba(255, 255, 255, 0.04) !important;
}

.roboto {
  font-family: 'Roboto';
}

.no-padding-table.mat-header-cell:first-of-type,
.no-padding-table.mat-cell:first-of-type {
  padding-left: 0px;
}
.no-padding-table.mat-header-cell:last-of-type,
.no-padding-table.mat-cell:last-of-type {
  padding-right: 0px;
}

svg.leader-line, svg#leader-line-defs {
  z-index: 999;
}

.dark-snackbar {
  .mat-simple-snackbar-action {
    color: map-get($primary-color, 400) !important;
  }
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}
