<form [formGroup]="picturesForm">
  <div
    class="button-icon-wrapper-sm rounded-circle d-flex justify-content-center align-items-center mat-dark-elevation-z4"
    (click)="button.focus(); fileInput.open()" appClickStopPropagation>
    <button mat-icon-button #button>
      <mat-icon class="icon-display-sm mat-text-primary">add_photo_alternate</mat-icon>
      <ngx-mat-file-input #fileInput (change)="openDialog()" formControlName="pictures" [accept]="'image/*'"
        class="d-none" multiple></ngx-mat-file-input>
    </button>
  </div>
</form>
