<div class="d-flex my-3">
  <button *ngIf="submittedIdentities && identitiesForm && identitiesForm.touched" mat-raised-button color="accent"
    (click)="formReset = true; resetForm()" class="ml-auto">{{'actions.RESET' | translate}}</button>
</div>

<form (change)="updateChanges()" [formGroup]="identitiesForm" *ngIf="identitiesForm && identities?.length"
  class="container">

  <div class="d-flex flex-wrap mb-3" formArrayName="identities">
    <div *ngFor="let identityForm of identities.controls; let i = index" class="width-300 mt-3 ml-md-3 ml-sm-1"
      appClickStopPropagation>
      <mat-card [formGroupName]="i">
        <mat-form-field appearance="outline" class="no-wrapper-padding">
          <mat-label>{{'protected.protected-shared.identities-form.Identity' | translate}}</mat-label>
          <input matInput formControlName="name">
          <mat-error *ngIf="identityName(i)?.errors?.required">
            {{'protected.protected-shared.identities-form.identityRequired' | translate}}</mat-error>
        </mat-form-field>
        <mat-card-content formArrayName="weightings">
          <div class="d-flex justify-content-center my-3">
            <button mat-button [matMenuTriggerFor]="menu">
              <span class="mat-text-primary">{{'protected.protected-shared.identities-form.ADD_CATEGORY' |
                translate}}</span>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let ic of getRemainingCategories(i)" (click)="addCategory(i, ic)">
                {{ getIdenityCategoryTranslation(ic) }}
              </button>
            </mat-menu>
          </div>
          <div *ngFor="let weighting of weightings(i).controls; let j = index" class="height-4rem">
            <div [formGroupName]="j" class="d-flex justify-content-between flex-wrap">
              <p class="category-width" [ngClass]="{'mat-text-warn': weight(i,j).invalid && weight(i,j).touched }">{{
                category(i,j) }}</p>
              <mat-slider [displayWith]="formatLabel" [max]=1 [min]=0 [step]=0.10 thumbLabel tickInterval=10
                formControlName="weight" class="align-with-p"
                [ngClass]="{'slider-error': weight(i,j).invalid && weight(i,j).touched }">
              </mat-slider>
              <button mat-icon-button matSuffix (click)="deleteCategory(i, j)" [disabled]="!canDeleteCategory(i)"
                class="align-with-p">
                <mat-icon
                  [ngClass]="{'mat-text-primary': canDeleteCategory(i), 'text-muted': !canDeleteCategory(i), 'mat-text-warn font-weight-bold': weight(i,j).invalid && weight(i,j).touched}">
                  clear</mat-icon>
              </button>
              <p *ngIf="weight(i,j).invalid && weight(i,j).touched" class="weight-error mat-text-warn text-center">
                {{'protected.protected-shared.identities-form.SetOrDelete' | translate}}
              </p>
            </div>

          </div>
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between" appClickStopPropagation>
          <button mat-button color="primary" (click)="deleteIdentity(i)" [disabled]="!canDeleteIdentity()">
            <mat-icon>delete</mat-icon> {{'protected.protected-shared.identities-form.IDENTITY' | translate}}
          </button>
          <button mat-flat-button color="primary" (click)="addIdentity()">
            <mat-icon>add</mat-icon> {{'protected.protected-shared.identities-form.IDENTITY' | translate}}
          </button>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
</form>
