<div class="mat-dark-elevation-z2 h-full">
  <h1 class="text-center display-4 py-4 py-sm-5 text-white">{{'public.forgot-password.resetPassword' | translate}}</h1>
  <div class="container">
    <div class="col-10 col-sm-9 col-md-6 mx-auto mb-3 mb-md-0">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="passwordForm" (ngSubmit)="submit()">

            <mat-form-field appearance="fill" class="w-100 my-3">
              <mat-label>{{'public.login.password' | translate}}</mat-label>
              <input matInput (keydown.enter)="triggerSubmit($event)" [formControl]="password1"
                [type]="hidePass1 ? 'password' : 'text'" (input)="onPasswordInput()">
              <button mat-icon-button matSuffix (click)="hidePass1 = !hidePass1" [attr.aria-label]="'hide password'"
                [attr.aria-pressed]="hidePass1">
                <mat-icon>{{hidePass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password1.hasError('required')">{{'public.login.error.password.required' | translate}}
              </mat-error>
              <mat-error *ngIf="password1.hasError('minlength')">{{'public.register.passwordMinLength' |
                translate:{minPw:
                this.minPw} }}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>{{'public.register.passwordConfirm' | translate}}</mat-label>
              <input matInput (keydown.enter)="triggerSubmit($event)" [formControl]="password2"
                [type]="hidePass2 ? 'password' : 'text'" (input)="onPasswordInput()">
              <button mat-icon-button matSuffix (click)="hidePass2 = !hidePass2" [attr.aria-label]="'hide password'"
                [attr.aria-pressed]="hidePass2">
                <mat-icon>{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password2.hasError('required')">{{'public.login.error.password.required' | translate}}
              </mat-error>
              <mat-error *ngIf="password2.invalid && !password2.hasError('required')">
                {{'public.register.passwordsNoMatch'
                | translate}}</mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
          <p class="text-center">
            <button type="submit" (click)="submit()" mat-raised-button [disabled]="!passwordForm.valid"
              [ngClass]="{'mat-color-primary text-white': passwordForm.valid, 'color-grey': !passwordForm.valid}">
              {{'actions.UPDATE' | translate}}
            </button>
          </p>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
