<div class="container">
  <form [formGroup]="locationForm" *ngIf="locationForm" class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <mat-form-field appearance="outline" [floatLabel]="'auto'" class="w-100">
        <mat-label>{{'protected.protected-shared.location-form.Place' | translate}}</mat-label>
        <input placeholder="At home" matInput formControlName="name" (input)="onLocationInput()">
        <mat-error *ngIf="locationForm?.invalid">{{'protected.protected-shared.location-form.placeRequired' |
          translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 col-sm-6 col-md-8">
      <mat-form-field appearance="outline" [floatLabel]="'auto'" class="w-100">
        <mat-label>{{'protected.protected-shared.location-form.Address' | translate}}</mat-label>
        <input placeholder="32 Rue de la Paix, Paris, 75000" matInput formControlName="address"
          [matAutocomplete]="addressSuggestion" (input)="onLocationInput()">
        <mat-autocomplete #addressSuggestion="matAutocomplete">
          <mat-option *ngFor="let suggestion of suggestions | async" [value]="removeHTML(suggestion.label)"
            (onSelectionChange)="updateLocation(suggestion)">
            <span [innerHtml]="suggestion.label"></span>
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix>location_on</mat-icon>
      </mat-form-field>
    </div>

  </form>
</div>
