.img-centered {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 90vw;
  height: 62vw;
  object-fit: cover;
  @media screen and (min-width: 540px) {
    width: 510px;
    height: 350px;
  }
}

.dimension {
  width: 90vw;
  height: 62vw;
  @media screen and (min-width: 540px) {
    width: 510px;
    height: 350px;
  }
}

.swiper-slide {
  left: 1rem !important;
}

.swiper-button-prev {
  left: 2rem !important;
}

.pp-button {
  position: relative;
  top: 1rem;
  left: -3rem;
  z-index: 10;
  background-color: #f5f5f58c;
}

.right-swiper::after {
  position: relative;
  left: -1rem;
  z-index: 10;
}
