$muted: rgba($color: #fff, $alpha: 0.38) !important;
$mat-warn: #f55a73 !important;
$mat-primary: #878dfd;

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: $mat-primary;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: $mat-primary;
}

.disabled-icon ::ng-deep svg {
  fill: $muted
}
.enabled-icon ::ng-deep svg {
  fill: $mat-primary
}

.time-disabled {
  cursor: auto;
}

.time-enabled {
  cursor: pointer;
  color: $mat-primary
}

.material-toggle ::ng-deep svg {
  position: relative;
  top: -4px;
}

.time-error ::ng-deep svg {
  fill: $mat-warn
}

.align-time {
  position: relative;
  top: 2px;
  min-width: 60px;
}

.responsive-flex-direction {
  @media screen and (min-width: 754px) {
    flex-direction: column;
  }
}

.d-flex-754 {
  @media screen and (min-width: 754px) {
    display: flex;
    flex-wrap: wrap;
  }
}
