<p class="mt-3 text-center p-3 rounded w-75 biography mx-auto" *ngIf="!editBio">
  <ng-container *ngIf="profile?.bio">{{profile?.bio}}</ng-container>

  <ng-container *ngIf="!profile?.bio && currentUserId == profile?.userId">{{'protected.profile.profile-bio.noBio' |
    translate: {firstName: user?.firstName} }}</ng-container>


  <button *ngIf="currentUserId == profile?.userId" mat-icon-button (click)="editBio = true"
    class="float-right align-with-text">
    <mat-icon>edit</mat-icon>
  </button>
</p>
<form [formGroup]="profileForm" (ngSubmit)="submit()" *ngIf="editBio"
  class="mt-3 text-center p-3 rounded w-75 bg-white-smoke mx-auto">
  <mat-form-field floatLabel="Biographie" class="w-100 mx-auto" *ngIf="editBio" appearance="outline">
    <textarea matInput [formControl]="bio"></textarea>
  </mat-form-field>
  <div class="d-flex justify-content-center align-item-center">
    <button type="submit" (click)="submit()" mat-raised-button
      [disabled]="(!profileForm.valid || profileForm.untouched) ? true : null"
      [ngClass]="{'mat-color-primary text-white': profileForm.valid && profileForm.touched, 'color-grey': !profileForm.valid || profileForm.untouched}">
      {{'actions.UPDATE' | translate}}
    </button>
  </div>
</form>
