<swiper [config]="config" #usefulSwiper>

  <div class="swiper-wrapper">
    <div class="swiper-slide d-flex justify-content-center"
      *ngFor="let img of imgs; let isFirst = first; let i = index">
      <img class="img-fluid ml-2 mt-2 img-centered" src="{{ pictureDisplayingService.srcPrefix }}{{ img.imageFile }}">
      <button *ngIf="data.isEditable" mat-icon-button [matMenuTriggerFor]="menu" class="pp-button">
        <mat-icon class="text-primary">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setProfilePicture(img)" *ngIf="!isFirst">
          <mat-icon>photo_camera</mat-icon>
          <span>{{'protected.profile.profile-pictures-carousel-dialog.set-profile-picture' | translate}}</span>
        </button>
        <button mat-menu-item *ngIf="isFirst">
          <span>{{'protected.profile.profile-pictures-carousel-dialog.profile-picture' | translate}}</span>
        </button>
        <button mat-menu-item (click)="deleteProfilePicture(img, i)">
          <mat-icon>delete</mat-icon>
          <span>{{'actions.Delete' | translate}}</span>
        </button>
      </mat-menu>
    </div>

  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</swiper>
