.img-centered {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  width: 100vw;
  height: 100vw;
  object-fit: cover;
  @media screen and (min-width: 840px) {
    width: 40vw;
    height: 70vh;
  }
}

.pp-button {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  @media screen and (min-width: 840px) {
    right: 5rem;
  }
  z-index: 10;
  background-color: #f5f5f58c;
}
