<p [ngClass]="{'font-size-6': fontSizeBigger}">{{'shared.components.habit-explanation.4step' | translate}}</p>
<p [ngClass]="{'font-size-6': fontSizeBigger}" [innerHtml]="'shared.components.habit-explanation.applyLaw' | translate">
</p>
<div class="w-100 my-3 d-flex justify-content-center" *ngIf="lang">
  <table mat-table [dataSource]="content[lang]" class="w-425 border" appClickStopPropagation>
    <ng-container matColumnDef="{{header.friendlyName}}" *ngFor="let header of headers[lang]">
      <th mat-header-cell *matHeaderCellDef
        class="text-center text-white font-weight-normal font-size-6 no-padding-table">
        {{header.friendlyName}} </th>
      <ng-container>
        <td mat-cell *matCellDef="let text" class="text-center border no-padding-table"
          [ngClass]="{'min-width-100': lang == 'fr'}">
          {{ text[header.attribute] }}
        </td>
      </ng-container>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="headersName" class="mat-color-primary"></tr>
    <tr mat-row *matRowDef="let text; columns: headersName" class="element-row">
    </tr>
  </table>
</div>
<p class="mb-3" [ngClass]="{'font-size-6': fontSizeBigger}"
  [innerHtml]="'shared.components.habit-explanation.theLawsProvide' | translate"></p>
<div class="step-container-{{sidenavOpen ? 1490 : 1200}}">
  <div #cueCard class="step-item-{{sidenavOpen ? 1490 : 1200}}" id="cueCard-{{sidenavOpen ? 1490 : 1200}}"
    appClickStopPropagation>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>search</mat-icon>
        <mat-card-title>{{'shared.components.habit-explanation.Cue' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'shared.components.habit-explanation.cueDef' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center font-size-6">{{'shared.components.habit-explanation.makeItObv' | translate}}</p>
        <mat-accordion multi>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">schedule</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.time' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.twoMostCommonCues' | translate}}</p>
            <p [innerHtml]="'shared.components.habit-explanation.useImplementationIntention' | translate"></p>
            <p>{{'shared.components.habit-explanation.habitAppointment' | translate}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">location_on</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.location' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.atAGivenPlace' | translate}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">layers</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.habitStack' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.cueAnOtherHabit' | translate}}</p>
            <p [innerHtml]="'shared.components.habit-explanation.youCanUseHabitStacking' | translate"></p>
            <p [innerHtml]="'shared.components.habit-explanation.aHabitStackIs' | translate"></p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="step-item-{{sidenavOpen ? 1490 : 1200}}" #cravingCard id="cravingCard-{{sidenavOpen ? 1490 : 1200}}"
    appClickStopPropagation>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>local_fire_department</mat-icon>
        <mat-card-title>{{'shared.components.habit-explanation.craving' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'shared.components.habit-explanation.cravingDef' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center font-size-6">{{'shared.components.habit-explanation.makeItAttractive' | translate}}</p>
        <mat-accordion multi>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">local_fire_department</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.temptationBuilding' |
                  translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'shared.components.habit-explanation.toMakeAHabitAttractive' | translate"></p>
            <p>{{'shared.components.habit-explanation.youPairAHabit' | translate}}</p>
            <p>{{'shared.components.habit-explanation.theAnticipation' | translate}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">psychology</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.conditioningStep' |
                  translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p [innerHtml]="'shared.components.habit-explanation.youCanUseConditioning' | translate"></p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">groups</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.tribe' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.theCulture' | translate}}</p>
            <p [innerHtml]="'shared.components.habit-explanation.youCanShare' | translate"></p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="step-item-{{sidenavOpen ? 1490 : 1200}}" #rewardCard id="rewardCard-{{sidenavOpen ? 1490 : 1200}}"
    appClickStopPropagation>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>emoji_events</mat-icon>
        <mat-card-title>{{'shared.components.habit-explanation.Reward' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'shared.components.habit-explanation.rewardDef' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center font-size-6">{{'shared.components.habit-explanation.MakeItSatisfying' | translate}}</p>
        <mat-accordion multi>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">emoji_events</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.Reward' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.makingSatisfying' | translate}}</p>
            <p>{{'shared.components.habit-explanation.toMakeSatisfying' | translate}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">how_to_reg</mat-icon>
                <span class="align-with-icon">Identities</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.toMakeSatisfyingYouCanAlso' | translate}}</p>
            <p>{{'shared.components.habit-explanation.identityChangeReward' | translate}}</p>
            <p [innerHtml]="'shared.components.habit-explanation.youCanLinkHabit' | translate"></p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">trending_up</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.Progress' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.theOtherLongTerm' | translate}}</p>
            <p>{{'shared.components.habit-explanation.youCanTrack' | translate}}</p>
            <mat-list role="list">
              <mat-list-item class="bg-hover" role="listitem">
                <mat-icon mat-list-icon class="mr-2">how_to_reg</mat-icon>
                {{'shared.components.habit-explanation.linkingHabit' | translate}}
              </mat-list-item>
              <mat-list-item class="bg-hover" role="listitem">
                <mat-icon mat-list-icon class="mr-2">straighten</mat-icon>
                {{'shared.components.habit-explanation.definingMetrics' | translate}}
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="step-item-{{sidenavOpen ? 1490 : 1200}}" #responseCard id="responseCard-{{sidenavOpen ? 1490 : 1200}}"
    appClickStopPropagation>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>done</mat-icon>
        <mat-card-title>{{'shared.components.habit-explanation.Response' | translate}}</mat-card-title>
        <mat-card-subtitle>{{'shared.components.habit-explanation.ResponseDef' | translate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p class="text-center font-size-6">{{'shared.components.habit-explanation.makeItEasy' | translate}}</p>
        <mat-accordion multi>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">speed</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.GatewayHabit' | translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.toMakeEasy' | translate}}</p>
            <p [innerHtml]="'shared.components.habit-explanation.toReduceWillpower' | translate"></p>
            <p>{{'shared.components.habit-explanation.aGatewayHabitIs' | translate}}</p>
            <p>{{'shared.components.habit-explanation.exPutRunning' | translate}}</p>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0" (afterCollapse)="setArrowPositions()"
            (afterExpand)="setArrowPositions()">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-size-6">
                <mat-icon class="mr-2">next_week</mat-icon>
                <span class="align-with-icon">{{'shared.components.habit-explanation.PreparationHabit' |
                  translate}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{'shared.components.habit-explanation.toReduceFriction' | translate}}</p>
            <p [innerHtml]="'shared.components.habit-explanation.aPreparationHabitIs' | translate"></p>
            <p>{{'shared.components.habit-explanation.youCanEven' | translate}}</p>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>

</div>
