html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.a-in-mat-button:hover {
  text-decoration: none;
}

.mat-form-field-padding-top {
  padding-top: 1.34375em !important;
}

/* for mat form field outline */
.no-wrapper-padding {
  margin-bottom: -1.25em;
}

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: -0.25em !important;
}

@include font-size;
@include width;
@include transform;
@include button-icon-wrapper;
